@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased overflow-x-hidden;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Animations */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

/* Ticker Animation */
.ticker-wrap {
    overflow: hidden;
    white-space: nowrap;
    width: 150px; 
}
.ticker {
    display: inline-block;
}

/* Chat Mask */
.mask-image-gradient {
  mask-image: linear-gradient(to bottom, transparent, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%);
}
